.header {
  z-index: 10 !important;
}

.header2 {
  z-index: 10 !important;
  position: fixed;
  top: 0;
}

.slick-dots {
  bottom: 25px !important;
}

.slick-dots li button::before {
  color: #e2cecc !important;
}

.slick-dots li.slick-active button:before {
  color: orangered !important;
}

.slick-slide .slick-active .slick-current {
  z-index: 0;
}

.slick-prev
{
    left: 25px !important;
    z-index: 1 !important;
}
.slick-next
{
    right: 25px !important;
}
.slick-prev:before, .slick-next:before{
  color: rgb(77, 74, 74) !important;
  font-size: 30px !important;
}
.slick-dots li button:before {
  font-size: 12px !important;
  opacity: 1 !important;
}

.slick-slider .slick-list .slick-slide {
  z-index: -999 !important;
}

.styles_scroll-to-top__2A70v {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-main {
  position: relative;
}

.drop-body {
  top: 0;
  right: 0;
  position: absolute;
  transition: 2s;
  display: none;
}

.myDIV:hover+.drop-body {
  display: flex;
  transition: 2s;
}

.drop-body:hover {
  display: flex;
}
input[type="radio"]{
  accent-color:#990000;
}
input[type="checkbox"] {
  accent-color: #990000;    
}

.tooltiptext{
    position: absolute;
    left: 50%;
    background: rgba(0,0,0,0.8);
    color: #fff;
    z-index: 9999;
    min-width: 80px !important;
    text-align: center;
  }


  .star-ratings {
    unicode-bidi: bidi-override;
    color: #ccc;
    font-size: 24px;
    position: relative;
    margin: 0;
    padding: 0;
  }
  .star-ratings .fill-ratings {
    color: #f1e315;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .star-ratings .fill-ratings span {
    display: inline-block;
  }
  .star-ratings .empty-ratings {
    padding: 0;
    display: block;
    z-index: 0;
  }
  